module.exports = {
    prefix: '!',
    youtube_api_key: "AIzaSyCARomDIJXgWOxfhgDaICmA76iZmV05_zk\t",
    bot_token: "MzkyMzA0Mzk2NzEwNDQ1MDU2.DRlRdw.ZqzTzdUxIHBhBJhRSTvqqIrp2ok",
    bot_api_username: "",
    bot_api_password: "",
    bot_api_endpoint: "http://ukulele.cah-en-ligne.fr/api",
};